notebooks
figures
largedata
.idea
.idea/*

cogwheel/data/gwosc_files
cogwheel/data/gwosc_files/*

cogwheel/factorized_qas/data/extrinsic_samples_*.npz

*.pyc
__pycache__
.ipynb_checkpoints

cogwheel/population_inference/PE_samples_all_jacobian
cogwheel/population_inference/PE_samples10